<div class="mainmemcont">
    <% for (let player of players) { %>
        <div class="memcont">
            <div class="smol smollft">
                <div class="combo combolft">
                    <img src=<%=player.avatar %> alt="">
                    <h2>
                        <%= player.name %>
                    </h2>
                </div>
                <div class="text-overlay">
                    <div class="insidetext">
                        <h2>
                            <%= player.name %>
                        </h2>
                        <h6>
                            <%= player.description %>
                        </h6>
                        <p>Tracker Score: <%= player["Tracker Score"] %> <br> Round Win%: <%= player["Round Win%"] %>
                        </p>
                        <p>KAST: <%= player.KAST %> <br> ACS: <%= player.ACS %>
                        </p>
                        <p>DDΔ/Round: <%= player["DDΔ/Round"] %> <br> WR: <%= player.WR %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.smolrt').hover(function () {
            $(this).prev('.smollft').find('.combolft').css({
                opacity: 0.7,
                transform: 'translateX(-20%)'
            });
        }, function () {
            $(this).prev('.smollft').find('.combolft').css({
                opacity: '',
                transform: ''
            });
        });
    });
</script>